.gradle/
build/

node_modules/
npm-debug.log

/.idea/*
!/.idea/codeStyleSettings.xml
!/.idea/compiler.xml
!/.idea/encodings.xml
!/.idea/gradle.xml
!/.idea/runConfigurations/
!/.idea/sqldialects.xml
!/.idea/vcs.xml
