<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!--<logger name="org.springframework.web" level="DEBUG"/>-->

    <appender name="AUTOUI" class="ee.iglu.autoui.RecordingAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <!--<encoder>-->
            <!--<pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>-->
        <!--</encoder>-->
    </appender>

    <root level="INFO">
        <appender-ref ref="AUTOUI" />
    </root>
</configuration>
